* {
  box-sizing: border-box; }

  html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


body {
	background: #222;
	color: #808c91;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;

}


header, section, footer {
	display: block;
}


img {
  border: 0;
}



a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
	
/* webkit scrollbar */

::-webkit-scrollbar {  
	width: 15px;
}

::-webkit-scrollbar-track {  
	background: #444;
}

::-webkit-scrollbar-thumb {  
	background: #777;
}

::-webkit-scrollbar-thumb:hover {  
	background: #AAA;
}


/* mouse selection */

::selection {
	background: rgba(0, 200, 0, 0.5);
}
::-moz-selection {
	background: rgba(0, 200, 0, 0.5);
}


/* ids and classes styles*/

.header {
	background: #000;
	color: #ccc;
	box-shadow: 0px 1px 9px 1px #0f0;
}

/* tabs */

#lft {
	cursor: default;
	list-style: none;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px;
	text-align: center;
	width: 90%;
}

#lft li {
	background: #000;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	transition: all 0.5s ease;
}

#lft li:hover {
	background: #333 !important;
	box-shadow: #0d0 0px -5px 0px 0px inset;
}

.selectedtab {
	background: #222 !important;
	box-shadow: #0b0 0px -5px 0px 0px inset;
}

#fct {
	color: #fff;
	height: 100%;
	margin: 0px auto;
	position: relative;
	width: 85%;
}

#fct div {
	background: #000;
	border: 1px solid #f00;
	margin-bottom: 20px;
	padding: 20px 15px;
}

#fct div h1 {
	font-size: 30px;
	font-weight: normal;
}

#fct div p {
	font-size: 17px;
}

.hidediv {
	display: none;
}
